<%- include('header'); -%>

<main>
  <form action="/" method="post">
    <label for="postTitle">Title: </label>
    <input type="text" name="postTitle" id="postTitle" />
    <label for="inputField">Post: </label>
    <textarea name="inputField" id="inputField" cols="60" rows="10"></textarea>
    <button type="submit" class="btn">Submit</button>
  </form>
</main>

<%- include('footer'); -%>
