<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="background"></div>
    <header>
      <!-- prettier-ignore -->
      <h1 id='main-header'>Coffee & Tech</h1>
      <nav>
        <ul class="main-nav__items">
          <li class="main-nav__link"><a href="">Home</a></li>
          <li class="main-nav__link"><a href="">About</a></li>
          <li class="main-nav__link"><a href="">Compose</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
